<% if current_user == comment.user %>

<span id="current">
<strong><%= comment.user.try(:first_name) %> says:</strong></span><br>
  <% else %>
  <span id="other">
    <strong><%= comment.user.try(:first_name) %> says:</strong></span><br>
    <% end %>
    <span><%= comment.comment %></span><br>

