<div class="row">
  <div class="medium-12 columns medium-centered">
  <h1><%= link_to skill.title, skill %></h1>
  </div>
  </div>
  <div class="row" data-equalizer>
    <div class="medium-6 columns" data-equalizer-watch>
  <li>Response time: <%= skill.response_time %></li>
  </div>
  <div class="medium-6 columns" data-equalizer-watch>
  <li>Posted by: <%= skill.user.first_name %></li>
  </div>
  </div>
  <div class="row">
    <div class="medium-12 columns medium-centered">
    <li><%= link_to "Connect", new_skill_connection_path(skill), class: "btn-btn-primary" %></li>
    </div>
    </div>
  