<body class="london">
<div class="row front-row">
  <div class="medium-12 columns about-blurb">
  <h1>What is Skwap?</h1>
  <p>Skwap is London's newest skill sharing hub.
  <br>We believe that learning new skills should be free
  <br>and that everybody should be able to try new things.</p>

  <p>You earn credits by sharing your own knowledge in any area with others
  <br>and can spend it on whatever you want, whenever you want.</p>
  </div>
  </div>

  </body>