  <div id="main-page-contents">
  <div class="row">
    <div class="medium-6 columns medium-centered" style="font-size: 4em">
      <div class="learn"><%= link_to 'Learn', skills_path %></div>
    </div>
    </div>
    <div class="row">
      <div class="medium-6 columns medium-centered">
      <div class="choice"><h3>What would you like to do today?</h3></div>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns medium-centered" style="font-size: 4em">
      <div class="share"><%= link_to 'Share', new_skill_path %></div>
      </div>
    </div>
    </div>
