  <div class="row">
    <div class="medium-6 columns medium-centered" style="font-size: 4em">
    <%= link_to 'Learn', skills_path %>
    </div>
    </div>
    <div class="row">
      <div class="medium-6 columns medium-centered">
      <h3>What would you like to do today?</h3>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns medium-centered" style="font-size: 4em">
      <%= link_to 'Share', new_skill_path %>
      </div>
    </div>