  <div class="row" style="border: 1px solid black">
    <div class="medium-6 columns medium-centered" style="font-size: 4em">
    Learn
    </div>
    </div>
    <div class="row" style="border: 1px solid black">
      <div class="medium-6 columns medium-centered">
      <h3>What would you like to do today?</h3>
      </div>
    </div>
    <div class="row" style="border: 1px solid black">
      <div class="medium-6 columns medium-centered" style="font-size: 4em">
      Share
      </div>
    </div>