body {
  list-style-type: none;
}

a {
  color: black;
}

a:hover {
  color: black;
}

#footer {

position: fixed;

bottom: 0;

width: 100%;

height: 40px; /* choose any height */

background-color: #FFCC2F;
}

#current {
  color: red;
}

#other {
  color: blue;
}

.learn {
  background: lightblue;
  text-align: center;
}

.share {
  background: lightgreen;
  text-align: center;
}

.choice {
  text-align: center;
}