body {
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
}

.row.main-row {
  margin-bottom: 30px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

#footer {

position: fixed;

bottom: 0;

width: 100%;

height: 40px; /* choose any height */
border-top: 1px solid #151515;
background-color: #333;
color: #fff;
}

#main-page-contents {
  margin: 150px 0;
  background-color: #E0E0E0;
}

// header text

li.name {
  display: inline-block;
  top: 0;
  position: relative;
  vertical-align: bottom;
}

.title-secondary-name {
  color: #fff;
}

// #title-name {
//   font-size: 2.5em;
// }

.personal-header {
  font-size: 0.5em;
  letter-spacing: 0.15em;
  list-style-type: none;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
}

// Skill index page

// button {
//   padding: 0;
// }

// li.tab-title {

// }

// connection show page comments

#current {
  color: red;
}

#other {
  color: blue;
}

// static page main section

.learn {
  // color: lightblue;
  text-align: center;
}

.share {
  // color: lightgreen;
  text-align: center;
}

.choice {
  text-align: center;
}