// ************ GLOBAL
@font-face {
  font-family: 'Raleway';
  src: url(font-path('Raleway-Medium.ttf'))
}

@font-face {
  font-family: 'Open Sans';
  src: url(font-path('OpenSans-Regular.ttf'))
}

body {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.row.main-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.row.front-row {
  margin-top: 50px;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

input.button {
  width: 100%;
}

.row.spacer {
  margin-bottom: 10px;
}

.row.top-spacer {
  margin-top: 20px;
}

a img,
.my-picture img,
li img {
  border: 5px solid #333;
}

#footer {

  position: fixed;

  bottom: 0;

  width: 100%;

height: 40px;

background-color: #FFAC2F;

color: #fff;

}

// ************* HEADER

li.name {
  display: inline-block;
  top: 0;
  position: relative;
  vertical-align: bottom;
  color: #333
}

.title-secondary-name {
  color: #fff;
}

.top-bar .name h1 {
  font-size: 3em;
}

.top-bar .name span {
  margin-left: -10px;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.top-bar-section ul li > a {
  font-size: 0.7em;
  font-family: Raleway;
}

.personal-header {
  font-size: 0.6em;
  letter-spacing: 0.15em;
  list-style-type: none;
  text-transform: uppercase;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
}


// ************ FRONT PAGE
.type {
  color: white;
  font-size: 2em;
}

.type-font {
  font-family: 'Raleway', sans-serif;
}

.mac {
  text-align: center;
}

.mac-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  color: white;
  border-bottom: 1px solid white;
}

.mac-font2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white;
}

body.london {
  background-color: #FFCC2F;
 
}

.welcome-message {
  color: white;
}

#main-page-contents {
  margin: 100px 0;
}


// ********* STATIC WELCOME PAGE

.learn-container,
.choice-container,
.share-container {
  text-align: center;
  width: 100%;
  height: auto;
  letter-spacing: 0.5em;
}

.learn {
  font-size: 6em;
  color: #333;
}

.learn-container {
  animation-name: slideInLeft;
  animation-duration: 3s;
  transition: all 1s;
}

.learn-container:hover {
  background: lightgreen;
}

.share {
  font-size: 6em;
  color: #333;
}

.share-container {
  animation-name: slideInRight;
  animation-duration: 3s;
  transition: all 1s;
}

.share-container:hover {
  background: lightblue;
}

.choice {
  font-size: 1.3em;
  color: #FFCC2F;
}

.choice-container {
  animation-name: zoomIn;
  animation-duration: 4s;
  transition: all 1s;
}

// ******** ABOUT PAGE

.about-blurb p {
  color: white;
  font-size: 1.25em;
}

.about-blurb h1 {
  color: white;
  font-size: 2.5em;
}


// *********** SKILL INDEX PAGE

// .learn-pic {
//   position: relative;
//   width: 100%;
// }

// .learn-desc {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   width: 80px;
//   color: white;
//   font-family: 'Raleway';
//   font-size: 1em;
// }

.skills-header {
  color: #333;
}

// ********** CONNECTION SHOW PAGE COMMENTS

#current {
  color: red;
}

#other {
  color: blue;
}

.accepted {
  color: #00C853;
}

.declined {
  color: #d50000;
}

.pending {
  color: #2962FF;
}

.completed {
  color: #6200EA;
}





// ********* RESPONSIVE CONTENT

// @media (min-width: 640px) and (max-width: 1040px) {
//   .type {
//     width: 300px;
//     font-size: 1.1em;
//   }

//   .mac {
//     width: 500px;
//   }

// }


@media (max-width: 640px) {
  li img {
    margin-bottom: 10px;
  }
}


@media only screen and (min-width: 40.0625em) {

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.8rem;
  }

}
