// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-icon {
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border: 3px solid black;
  text-align: center;

}